{% extends 'base.html.twig' %}

{% block title %}Catégorie #{{ category.id }}{% endblock %}

{% block body %}
    <article>
        <h1>{{ category.name }}</h1>
    {% for program in programs %}
        <h2>{{ program.title }}</h2>
        <p>{{ program.synopsis }}</p>
        <a href="{{ path('program_show', {id: program.id}) }}">
            Voir la fiche de la série
        </a>
    </article>
    {% endfor %}
    <div>
    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
    </div>
{% endblock %}