{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <article>
        <img src="{{ program.poster }}" alt="{{ program.title }}">
        <h1>{{ program.title }}</h1>
        <p>{{ program.synopsis }}</p>
        <p>Catégorie : {{ program.category.name }}</p>
        <p>Liste des saisons:</p>
        <ul>
            {%  for season in program.seasons %}
            <li><a href="{{ path('program_season_show', { programId: program.id, seasonId: season.id }) }}">{{ season.number }}</a></li>
            {% endfor %}
        </ul>
    </article>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>

{% endblock %}