{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <article>
        <img src="{{ program.poster }}" alt="{{ program.title }}">
        <h1>{{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <p>Liste des saisons:</p>
            <ul>
                {%  for season in program.seasons %}
                <li><a href="{{ path('program_season_show', { slug: program.slug, season: season.id }) }}">Saison #{{ season.number }}</a></li>
                {% endfor %}
            </ul>
        <strong>Acteurs :</strong>
        <ul>
            {% for actor in program.actors %}
                <li><a href="{{ path('app_actor_show', {id: actor.id}) }}">{{ actor.name }}</a></li>
            {% else %}
                <li>Aucun acteur pour cette série</li>
            {% endfor %}
        </ul>
        <a href="{{ path('program_delete', {slug: program.slug}) }}">Supprimer la série</a>
    </article>
    <br>
        <a href="{{ path('program_index') }}">Retour à la liste des séries</a>
    <br>
    <br>
        <a href="{{ path('category_index') }}">Retour à la liste des catégories</a>
{% endblock %}